langchain
langchain_community
langchain_openai
langchain-anthropic
langchain-text-splitters
langchain-chroma
langchain-ollama
langchain-experimental

anthropic
openai

nltk==3.8.1
pypdfium2
rapidocr-onnxruntime
sentence-transformers
unstructured
unstructured[pdf]
requests

python-pptx
python-magic-bin==0.4.14

faiss-cpu
grandalf 

streamlit
python-dotenv
pypdf
semantic-kernel




